@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}
a {
	text-decoration: none;
}
.container {
	min-height: 50vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container1 {
	
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: rgb(20, 157, 220);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(20, 157, 220);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgb(20, 157, 220);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(20, 157, 220);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 3vh;
	max-height: 8vh;
	background-color: rgb(41, 50, 60);
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(20, 157, 220);
}
#header .hamburger {
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease 5;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */
.section-title {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .agenda-cards {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
  }
  
  .agenda-card {
	color: white;
	background-image: linear-gradient(60deg, #111d2b 0%, #485563 100%);
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	padding: 20px;
	width: 45%;
  }
  
  .agenda-card h2 {

	font-size: x-large;
	text-align: center;
  }
  
  ul {
	font-size: larger;
	list-style-position: inside;
  }
  
  li {
	font-size: large;
	margin-bottom: 10px;
	line-height: 2;
  }
  

/* Hero Section */
#hero {
	background-image: url(./img/bg3.png);
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/* background-color: #f4f7fa; */
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1400px;
	margin: 0 auto;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 1rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1:nth-child(4) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 4s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #1f204e;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
#hero h1:nth-child(4) span {
	animation-delay: 3.5s;
}
#hero h1 i {
    color: inherit; 
    margin-right: 8px; 
}

/* End Hero Section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
	transition: max-height 0.3s ease;
}
#services .card {
	box-shadow: 0 4px 8px 0 rgba(29, 71, 222, 0.2);
	transition: 0.3s;
	width: 240px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	background-image: linear-gradient(60deg, #3576c1 0%, #485563 100%);
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 27px;
	border-radius: 10px;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(43, 42, 42, 0.2);
  }
  
  .card img {
	width: 100%; 
	height: 160px; 
	object-fit: cover; 
	border-radius: 5px; 
  }
  
  .card-container {
	padding: 2px 10px;
  }
 
  .card-container h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 1px;
  }
  .card-container p {
	color: white;
	text-align: center;
  }
  #services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 240px;
	min-height: 320px;
  }
  
  #services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #3576c1 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
  }
  
  #services .service-item img {
	width: 100%;
	height: 160px;
	object-fit: cover;
	border-radius: 5px; 
  }
  
  #services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin: 10px 0; 
  }
  
  #services .service-item p {
	color: white;
	text-align: left;
  }


/* End Services Section */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}

#about .col-left {
	width: 250px;
	height: 360px;
}

#about .col-right {
	width: 100%;
	text-align: left;
	padding: 30px;
}

#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 20px; /* Added space between title and text */
	text-align: center;
}

#about .col-right p {
	font-size: 1.4rem; /* Ensure text size is consistent with other content */
	margin-top: 20px; /* Added space above paragraph text */
	margin-bottom: 20px;
	color: #555; /* Softer color for readability */
	line-height: 2rem; /* Set line-height for readability */
	text-align: center;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid rgb(20, 157, 220);
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: rgb(41, 50, 60);
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(41, 50, 60);
		font-weight: 500;
	}
}
/* End Keyframes */
@media only screen and (min-width: 369px) and (max-width: 1024px){
	.card-container {
		padding: 0px; 
	}
	.card-container h2 {
		font-size: 1.5rem;
		color: white;
		margin-bottom: 1px;
	}
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 3rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 2.5rem;
	}
	#hero .hero {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 50px;
		justify-content: flex-start;
	}
	.container {
		min-height: 40vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */

	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(20, 157, 220);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}

@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 4rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(20, 157, 220);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

	.modal {
		display: none;
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(50, 50, 50, 0.7);
		backdrop-filter: blur(8px);
	}
	
	.modal-content {
		position: relative;
		background-color: #ffffff;
		margin: 10% auto;
		padding: 40px;
		border-radius: 8px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
		width: 50%;
		animation: scaleUp 0.3s ease-in-out;
		font-family: 'Arial', sans-serif;
		color: #333;
		line-height: 1.6; 
	}

	.modal-content h2 {
		font-size: 24px;
		color: #0056b3;
		margin-bottom: 20px;
		border-bottom: 2px solid #eee;
		padding-bottom: 10px;
	}

	.modal-content p {
		margin-bottom: 15px;
	}
	
	.modal-content p strong {
		display: block; 
		font-size: 18px; 
		color: #0056b3; 
		margin-bottom: 5px; 
	}
	
	.modal-content a {
		color: #007bff; 
		text-decoration: none; 
		transition: color 0.2s ease-in-out; 
	}
	
	.modal-content a:hover {
		color: #0056b3; 
	}
	
	.modal-content .contact-detail {
		font-size: 14px; 
		color: #666; 
	}
	
	.modal-content .phone {
		color: #333;
		font-weight: bold;
	}
	
	.modal-content p.email a {
		font-weight: bold; 
	}
	
	@keyframes scaleUp {
		from {
		transform: scale(0.8);
		opacity: 0;
		}
		to {
		transform: scale(1);
		opacity: 1;
		}
	}
	
	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		color: #666;
		font-size: 28px;
		font-weight: bold;
	}
	
	.close:hover,
	.close:focus {
		color: #f44336;
		cursor: pointer;
	}
	
	#showHotelsLink {
		font-size: 16px;
		text-decoration: none;
		color: white;
		background-color: #007bff;
		padding: 10px 15px;
		border-radius: 4px;
		transition: all 0.2s ease-in-out;
	}
	
	#showHotelsLink:hover {
		background-color: #0056b3;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	}
	

}

.schedule-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.day-schedule {
    flex: 1 1 400px;
    max-width: calc(50% - 20px);
    background-color: #e3f2fd; 
    padding: 25px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(29, 71, 222, 0.2);
    border-left: 5px solid #039be5; 
    overflow-y: auto;
    height: 600px; 
    position: relative;
    margin-bottom: 25px; 
    font-size: 16px; 
	border: 4px solid #3576c1; 
}

.day-title {
    font-size: 35px; 
    color: #1f204e;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 768px) {
	.day-title {
		font-size: 28px; 
		color: #1f204e;
		margin-bottom: 25px;
		text-align: center;
		font-weight: bold;
	}
  }

.events {
    position: relative;
    padding-left: 30px; 
}

.time-line {
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #1f204e;
}

.event-group {
    margin-bottom: 35px;
}

.session-heading {
    font-size: 18px;
    background-color: #1f204e; 
    color: #ffffff;
    padding: 8px 12px; 
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 15px;
}

.chair {
    font-size: 17px;
    color: #1c2b61; 
    font-weight: bold;
    display: block; 
    margin-bottom: 10px; 
}

.sub-session {
    margin-left: 25px; 
    padding-left: 15px; 
    border-left: 2px solid #81d4fa; 
    margin-bottom: 15px; 
}

.time-event, .time, .participant {
    font-size: 16px; 
    margin-bottom: 8px; 
}

.day-schedule::-webkit-scrollbar {
    width: 6px;
}

.day-schedule::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.day-schedule::-webkit-scrollbar-thumb {
    background: #375994;
}

.day-schedule::-webkit-scrollbar-thumb:hover {
    background: #04243f;
}

@media (max-width: 768px) {
    .schedule-wrapper {
        flex-direction: column;
    }

    .day-schedule {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .events {
        padding-left: 20px;
    }

    .time-line {
        left: 15px;
    }
}
/* End  Media Query For Desktop */

.sub-section {
	margin-left: 30px; 
  }


#speakerCards {
	
	max-height: 760px; 
	overflow: hidden;
	transition: max-height 0.3s ease;
  }
  
  #toggleSpeakerCards {
	background-color: #3576c1;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	margin-top: 20px;
	display: block; 
	margin-left: auto;
	margin-right: auto;
  }
  
  #toggleSpeakerCards:hover {
	background-color: #09223b; 
	transform: translateY(-2px); 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  #toggleSpeakerCards:active {
	background-color: #1d4561; 
	transform: translateY(1px); 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }


  #presenterCards {
	max-height: 760px; 
	overflow: hidden;
	transition: max-height 0.3s ease;
  }
  
  #togglePresenterCards {
	background-color: #3576c1;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	margin-top: 20px;
	display: block; 
	margin-left: auto;
	margin-right: auto;
  }
  
  #togglePresenterCards:hover {
	background-color: #09223b; 
	transform: translateY(-2px); 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  #togglePresenterCards:active {
	background-color: #1d4561;
	transform: translateY(1px); 
  }

  .hotel-tabs {
	display: flex;
	justify-content: space-between;
  }
  
  .tab {
	cursor: pointer;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px;
	text-align: center;
	flex-grow: 1; 
  }
  
  .tab img {
	width: 100%;
	max-height: 100px; 
	object-fit: cover; 
  }
  
  .tab h3 {
	font-size: 1rem; 
	margin: 5px 0;
  }
  
  .tab p {
	font-size: 0.8rem; 
	margin: 5px 0; 
  }
  
  .tab p a {
	color: #3576c1; 
  }
  
  .tab:hover {
	background-color: #f4f4f4;
	transition: background-color 0.3s ease;
  }
  
  @media print {
	.tab p a::after {
	  content: " (" attr(href) ")";
	}
  }
  
  

.about .col-right {
	max-width: 700px;
	margin: -20px;
  }
  
  .hotels-heading {
	font-size: 3em;
	color: #3576c1;
	text-align: center;
	margin: 20px 0;
  }
  
  .hotel-tabs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
  }
  
  .tab {
	cursor: pointer;
	background-color: #f7f7f7;
	border-left: 5px solid #3576c1; 
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	text-align: left;
  }
  
  .tab:hover {
	background-color: #e7e7e7;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .tab h3 {
	color: #3576c1; 
	margin-bottom: 10px;
	font-size: 1.2em;
  }
  
  .hotel-info {
	font-size: 1.2em;
  }
  
  .hotel-info span {
	display: block;
	margin: 5px 0;
  }
  
  .hotel-info a {
	color: #3576c1;
	text-decoration: none;
  }
  
  .hotel-info a:hover {
	text-decoration: underline;
  }
  
  .hotel-info i {
	color: #3576c1;
	width: 20px; 
  }
  
  @media (max-width: 768px) {
	.hotel-tabs {
	  flex-direction: column;
	}
	.tab {
	  width: 100%;
	}
  }
  

  .contact.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 20px;
	text-align: center;
  }
 
  
  .about-workshop h2 {
	font-size: 2em;
	color: #333; 
	margin-bottom: 20px;
  }
  
  .about-workshop p {
	font-size: 1em;
	line-height: 1.6; 
	color: #555;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
  }
  
  @media (max-width: 768px) {
	.section-title {
	  font-size: 2em; 
	}
  
	.about-workshop p {
	  font-size: 0.9em; 
	}
  }

  .venue-info {
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px; 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	margin: 20px 0; 
  }
  
  .venue-title {
	text-align: center;
	color: #3576c1; 
	margin-bottom: 15px; 
	font-size: 1.75em; 
  }
  
  .venue-description {
	font-size: 1.5em; 
	line-height: 1.6; 
	color: #333; 
	text-align: justify; 
	margin: 0 auto; 
	max-width: 800px;
  }
  
@media only screen and (max-width: 768px) {
	#services .service-item {
	  flex-basis: 40%; 
	  margin: 10px 0;
	  padding: 20px;
	  text-align: center;
	}
	#services .card {
		box-shadow: 0 4px 8px 0 rgba(29, 71, 222, 0.2);
		transition: 0.3s;
		width: 173px;
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
	#services .service-item {
	  flex-basis: 48%; 
	  margin: 2.5%; 
	  padding: 25px; 
	  text-align: left;
	}
  }
  
  @media only screen and (min-width: 1025px) {
	#services .service-item {
	  flex-basis: 30%; 
	  margin: 1.5%; 
	  padding: 30px; 
	  text-align: left;
	}
  }
}
@media screen and (max-width: 560px) {
	.col-left {
	  display: none;
	}
  }
  
  @media print {
	.col-left {
	  display: none; 
	}
  }
 

  .hero.container {
	display: flex;
	justify-content: center; 
	align-items: center;
	max-width: 1400px; 
	margin: auto;
  }
  
  .hero-content {
	display: flex;
	justify-content: center; 
	align-items: center;
	text-align: center;
	width: 100%;
  }
  
  .hero-logo {
	flex-shrink: 0; 
	max-width: 200px;
	margin-right: 5%; 
  }
  
  .hero-logo img {
	width: 100%;
	height: auto; 
  }
  
  .hero-text {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
  }
  
  .hero-text h1 {
	font-size: 2.5rem; 
	margin: 0; 
	line-height: 1.2; 
	color: #1f204e; 
	overflow: hidden; 
  }
  
  @media (max-width: 1024px) {
	.hero.container {
	  padding: 0 20px; 
	}
  
	.hero-content {
	  flex-direction: column; 
	}
  
	.hero-logo {
	  margin: 0 0 20px 0; 
	  max-width: 180px; 
	}
  
	.hero-text h1 {
	  font-size: 1.8rem;
	  text-align: left; 
	}
	.hero-text {
		align-items: left;
	  }
  }
  


  .hero-text h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	line-height: 1.1; 
	color: #1f204e; 
  }
  
  .hero-text h1 {
	margin-bottom: 15px;
	text-align: center;
  }
  
  .hero-text h2 {
	margin-bottom: 15px; 
  }
  
  @media (max-width: 768px) {
	.hero-text h1 {
	  font-size: 1.5rem; 
	  margin-bottom: 15px;
	}
  }

#sponsors {
  text-align: center;
  background-color: #f4f4f4; 
}

#sponsors .section-title {
  margin-bottom: 20px;
  color: #333; 
}

#sponsors .sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#sponsors .sponsor-logos img {
  max-width: 450px; 
  height: auto;
  margin: 10px;
}

@media (max-width: 768px) {
  #sponsors .sponsor-logos img {
    max-width: 200px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
#sponsors {
	text-align: center;
	padding-top: 75px;
	background-color: #ffffff; 
  }
  
  #sponsors .container {
	display: block;
  }
  
  #sponsors .section-title {
	margin-bottom: 20px; 
	color: #333; 
  }
  
  #sponsors .sponsor-logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	justify-content: center; 
	align-items: center;
	gap: 20px; 
  }
  
  #sponsors .sponsor-logos img {
	max-width: 450px; 
	height: auto; 
	margin: 20px; 
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 768px) {
	#sponsors .sponsor-logos img {
	  max-width: 200px; 
	  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
  }
  
  .registration-button-container {
    text-align: center; 
}

.modal-button {
	background-color: #3576c1; 
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .modal-button:hover {
	background-color: #09223b; 
  }
  
  .modal {
	display: none; 
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgba(0,0,0,0.4);
	animation-name: fadeIn;
	animation-duration: 0.4s;
  }
  
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 10px;
	border: 1px solid #888;
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	animation-name: slideIn;
	animation-duration: 0.4s;
  }
  
  .close {
	color: #aaa;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  .modal-content iframe {
	width: 100%; 
	height: 80vh; 
	border: none; 
  }

  @media (max-width: 600px) {
	.modal-content {
	  width: 95%; 
	  margin: 10px auto;
	}
	.modal-content iframe {
	  height: 70vh; 
	}
  }
  
  @keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
  }
  
  @keyframes slideIn {
	from {top: -300px; opacity: 0}
	to {top: 10%; opacity: 1}
  }
  
  /* Webinar Speaker Section */
.webinar-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 20px;
  }
  
  .webinar-block {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 800px;
	background-color: #f4f7fa;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
  }
  
  .webinar-block:hover {
	transform: translateY(-5px);
  }
  
  .webinar-photo img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 20px;
  }
  
  .webinar-details h2 {
	font-size: 2.0rem;
	color: #333;
	margin-bottom: 10px;
  }
  
  .webinar-details p {
	margin: 5px 0;
	font-size: 1.8rem;
	color: #666;
  }
  
  .sign-up-button a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #3576c1;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 1.8rem;
	transition: background-color 0.3s ease;
  }
  
  .sign-up-button a:hover {
	background-color: #09223b;
	text-decoration: none;
  }
  
  /* Responsive Design for Webinar Section */
  @media (max-width: 768px) {
	.webinar-block {
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	}
  
	.webinar-photo {
	  margin-bottom: 15px;
	}
  
	.webinar-photo img {
	  width: 150px;
	  height: 150px;
	}
  }
  
  